gcsfs
st-files-connection
pysqlite3-binary == 0.5.3
python-dotenv
langchain
langchain-community
langchain-pinecone
langchain-chroma
pinecone-client
streamlit
unstructured
unstructured[pdf]
openai
chromadb
tiktoken
protobuf==3.20.*
python-magic
cmake
