gcsfs
st-files-connection
python-dotenv
langchain
langchain-community
langchain-pinecone
langchain-chroma
pinecone-client
streamlit
unstructured
unstructured[pdf]
openai
chromadb
tiktoken
protobuf
python-magic
cmake